{% extends "shop/base.html" %}
{% block body %}
<div class="bg-image"></div>
{% for product in products %}
<div class="card">
    <div class="product">
        <img src="{{product.image}}" alt="Seniors T-shirt">
          <h1 class="head">{{product.title}}</h1>
          <div class="field middle-align">
                <nav >
                    <label class="checkbox">
                      <input type="checkbox">
                      <span style="color: white;" >Large</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span style="color: white;" >Medium</span>
                    </label>
                    <label class="checkbox">
                      <input type="checkbox">
                      <span style="color: white;">Small</span>
                    </label>
                </nav>            
            </div>
            <div class="field middle-align">
                <nav >
                    <label class="checkbox">
                        <input type="checkbox">
                        <span style="color: white;" >Black</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span style="color: white;" >White</span>
                    </label>
                </nav>
            </div>
          <h3>{{product.price}}$</h3>

    </div>
</div>
{% endfor %}
{% endblock body %}